<template name="layout">
    {{>header}}

    <div class="container">
        <div class="content">
            {{#if syncing}}
                {{>syncwarning}}
            {{/if}}

            {{#if notencrypted}}
                {{>encryptedwarning}}
            {{/if}}

            {{#if norddconnection}}
                {{>norddconn_error}}
            {{/if}}

            {{>yield}}
        </div>
    </div>

    {{>unlock_modal}}
    {{>encrypt_modal}}
    {{>donate_modal}}
    {{>about_modal}}
</template>