<template name="unlock_modal">
    <div class="modal fade" id="unlock-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Unlock wallet</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="unlock-passphrase">Passphrase</label>
                        <input id="unlock-passphrase" class="form-control" type="password" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="unlock-timeout">Timeout</label>
                        <input id="unlock-timeout" class="form-control" value="3600" type="text" />
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input id="unlock-stakeonly" checked="checked" class="checkbox" type="checkbox" /> Stake only?
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="unlock-btn" class="btn btn-primary">Unlock</button>
                </div>
            </div>
        </div>
    </div>
</template>