body {
    padding-top: 50px;
}

#navbar-icon {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-right: 5px;

    -webkit-animation:pulsate 1.2s ease-out infinite;
    -moz-animation:pulsate 1.2s ease-out infinite;
    animation:pulsate 1.2s ease-out infinite;
}

@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        -moz-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

.sync-icon {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.content {
    margin-top: 50px;
}

.confirmed {
    color: green;
}

.unconfirmed {
    color: red;
}

.send {
    color: red;
    font-weight: bold;
}

.receive, .stake {
    color: green;
    font-weight: bold;
}

#unlock-table td {
    padding: 5px;
}

#license {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}