<template name="dashboard">
    <!-- wallet panel -->
    {{#if has_cryptsy_error}}
        {{>cryptsy_error}}
    {{/if}}

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Wallet {{#if islocked}}<span class="glyphicon glyphicon-lock"></span>{{/if}}
                </div>

                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Balance</td><td>{{balance}} RDD</td>
                        </tr>
                        <tr>
                            <td>Stake</td><td>{{stake}} RDD</td>
                        </tr>
                        <tr>
                            <td>Unconfirmed</td><td>{{unconfirmed_balance}} RDD</td>
                        </tr>
                        <tr class="success">
                            <td>Total</td><td>{{total_balance}} RDD</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- info panel -->
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Info</div>

                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Staking</td><td><span class="{{isstaking}}"></span></td>
                        </tr>
                        <tr>
                            <td>Next stake in</td><td>{{staketime}}</td>
                        </tr>
                        <tr>
                            <td>Balance in USD</td><td>{{usd_balance}}</td>
                        </tr>
                        <tr>
                            <td>Satoshi/RDD</td><td>{{satoshi}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Transactions</div>

                <div class="table-responsive">
                    {{#if hastransactions}}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th><th>Type</th><th>Address</th><th>Amount</th><th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each transactions}}
                                    {{> transaction}}
                                {{/each}}
                            </tbody>
                        </table>
                    {{else}}
                        <div class="panel-body">
                            <h6>No transactions found.</h6>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>